.navbar.scrolled {
  background: #3eb99a6f; /* Black with opacity */
  backdrop-filter: blur(5px); /* Optional: subtle blur effect for glass look */
}

.navbar a.scrolled {
    color: teal;
}

section {
  height: 100vh;
  padding: 2rem;
  padding-top: 80px; /* Avoid overlap */
  color: #ff0000;
}